<!--This page is used to add or edit a lookup-->
<h1 mat-dialog-title> {{ user ? "Update User": "Add User"   }} </h1><hr>
<div mat-dialog-content>

    <form class="form-horizontal" novalidate [formGroup]="addUserForm">
        <div class="form-group">
            <label class="control-label col-sm-3 add-member-label" for="name">User Name : </label>
            <div class="col-sm-8">
                <input type="text" maxlength="60" class="form-control" formControlName="userName" required id="name" placeholder="Enter User Name"> 
                <div *ngIf="!userName.valid && (userName.dirty || userName.touched)" class="error-text">
                        User Name is required.
                </div>
            </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3 add-member-label" for="coins">Email ID : </label>
            <div class="col-sm-8">
              <input type="text" disabled class="form-control" maxlength="60" formControlName="email" required id="email" placeholder="Enter User Email"> 
              <div *ngIf="!email.valid && (email.dirty || email.touched)" class="error-text">
                      User Email is required.
              </div>
            </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3 add-member-label" for="location">Location : </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="location" required id="location" placeholder="Enter Location"> 
              <div *ngIf="!location.valid && (location.dirty || location.touched)" class="error-text">
                      User Location required.
              </div>
            </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3 add-member-label" for="badge">Badge : </label>
            <div class="col-sm-8">
              <select class="form-control" onDrag="return false" onDrop="return false" formControlName="badge" id="code" required>
                <option value="" selected>--Select Badge--</option>
                <option *ngFor="let badge of badges" [value]="badge.badge_id">{{ badge.badge_name }} </option>
              </select>
              <div *ngIf="!badge.valid && (badge.dirty || badge.touched)" class="error-text">
                      User Badge is required.
              </div>
            </div>
        </div>
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button [disabled]="!addUserForm.valid" [ngClass]="!addUserForm.valid ? '': 'btn-success'  " (click)="saveUser()">{{ user ? "Update": "Save"   }}</button>
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
</mat-dialog-actions> 