input.form-control.ng-pristine.ng-invalid.ng-touched,input.form-control.ng-dirty.ng-touched.ng-invalid{
    border: 1px solid red !important;
}
.position {
    position: fixed !important;
}

.marginss {
    text-align: center;
    color: green;
    margin-left: 53px;
    margin-top: 60px;
}

.marginsss {
    text-align: center;
    color: red;
    margin-left: 53px;
    margin-top: 60px;
}