<div class="col-sm-12">
    <div class="col-sm-12 no-padding" style="margin-bottom:10px;margin-right: 0px;">
        <a class="btn btn-primary pull-right IECustombtn" style="margin-left: 10px;" (click)="filter = !filter">
            <i class="fa fa-filter"></i>&nbsp;Filter
        </a>
        <a class="btn btn-primary pull-right IECustombtn" (click)="addUserModalToggle(1)" title="Click to Add New Announcement">
            <i class="fa fa-plus"></i>&nbsp;Add Announcement
        </a>
    </div>
    <div class="row" *ngIf="filter">
        <div class="col-md-3 col-sm-12 pull-left"> 
            <div id="Quality_table1_filter" class="dataTables_filter pull-left"><label style="display:inline-block; font-weight: 400">Location :&nbsp;</label>
                <select name="location" class='form-control input-medium input-inline'>
                    <option value="" selected>--Select Location--</option>
                    <option value="India">India</option>
                    <option value="Canada">Canada</option>
                    <option value="US">US</option>
                    <option value="UK">UK</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 pull-left"> 
            <div id="Quality_table1_filter" class="dataTables_filter pull-left"><label style="display:inline-block; font-weight: 400">Profession :&nbsp;</label>
                <select name="location" class='form-control input-medium input-inline'>
                    <option value="" selected>--Select Profession--</option>
                    <option value="Photographer">Photographer</option>
                    <option value="Boutique Owner">Boutique Owner</option>
                    <option value="Fashion Designer">Fashion Designer</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 pull-left">
            <div id="Quality_table1_filter" class="dataTables_filter pull-left"><label style="display:inline-block; font-weight: 400">Badge :&nbsp;</label>
                <select name="location" class='form-control input-medium input-inline'>
                    <option value="" selected>--Select Badge--</option>
                    <option value="Platinum">Platinum</option>
                    <option value="Gold">Gold</option>
                    <option value="Silver">Silver</option>
                    <option value="Bronze">Bronze</option>
                </select>
            </div>
        </div>
        <div class="col-md-2 col-sm-12 pull-left">
            <a class="btn btn-primary pull-left IECustombtn">
                <i class="fa fa-search"></i>&nbsp;Filter
            </a>
        </div>
    </div>


    <table class="table table-hover table-bordered table-scrollable-borderless table-striped margin-top" id="table1">
        <thead>
            <tr>
                <th>
                     Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Date
                </th>
                <th>
                    Location
                </th>
                <th>Profession</th>
                <th>Notification Type</th>
                <th>Badge</th>
                <!-- <th>
                    Permissions
                </th> -->
                <th>
                    Status
                </th>
                <th class="text-center">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let data of users'>
                <td>{{data.name}} </td>
                <td>{{data.description}} </td>
                <td>12<sup>th</sup> May 2019 </td>
                <td>{{data.location}}</td>
                <td>{{data.profession}}</td>
                <td>{{data.type}}</td>
                <td>{{data.badge}}</td>
                <!-- <td *ngIf="data.badge == 'bronze'"><i class="fa fa-certificate" aria-hidden="true" title="Bronze badge" style="color:brown;font-size: 18px;"></i></td>
                <td *ngIf="data.badge == 'gold'"><i class="fa fa-certificate" aria-hidden="true" title="Gold badge" style="color:gold;font-size: 18px;"></i></td>
                <td *ngIf="data.badge == 'silver'"><i class="fa fa-certificate" aria-hidden="true" title="Silver badge" style="color:silver;font-size: 18px;"></i></td> -->
                <!-- <td>
                    <a title="Click to Assign Permissions" (click)="permissionModal1Toggle(1)">2/11</a>
                </td> -->
                <td>
                    <!-- <a *ngIf="status==null" (click)='getstatus(1)'>Active</a>
          <a *ngIf="status==1">Inactive</a> -->
                    <a class="btn btn-primary" (click)="changeStatus($event,data.Id)">{{ data.Status ? 'Publish'
                        :'Publish'}} <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a title="Click to Update details">
                        <i (click)="addUserModalToggle(1)" class="fa fa-pencil-square"></i>
                    </a>&nbsp;
                    <a title="Click to Delete">
                        <i (click)="deleteModalToggle(1)" class="fa fa-trash" style="color:red"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" bsModal #addUserModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <b>Add Announcement Details</b> <i (click)="addUserModalToggle(2)" class="fa fa-times pull-right" style="font-size:17px;"></i>
                </h4>
            </div>
            <div class="modal-body col-md-12">
                <form (ngSubmit)="onSubmit()" #heroForm="ngForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label"> Name&nbsp;:</label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <input type="text" class="form-control" autocomplete="off" placeholder="Enter Announcement Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Description&nbsp;:</label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <input type="text" class="form-control" autocomplete="off" placeholder="Enter Announcement Description">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Date&nbsp;:</label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <input type="date" class="form-control" autocomplete="off" placeholder="Select date">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Location&nbsp;:</label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <select name="location" class='form-control'>
                                    <option value="" selected>--Select Location--</option>
                                    <option value="India">India</option>
                                    <option value="Canada">Canada</option>
                                    <option value="US">US</option>
                                    <option value="UK">UK</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Profession&nbsp;:</label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <select name="location" class='form-control'>
                                    <option value="" selected>--Select Profession--</option>
                                    <option value="Boutique Owner">Boutique Owner</option>
                                    <option value="Photographer">Photographer</option>
                                    <option value="Fashion Designer">Fashion Designer</option>
                                    <option value="Hair Stylist">Hair Stylist</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Badge&nbsp;:</label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <select name="location" class='form-control'>
                                    <option value="" selected>--Select Badge--</option>
                                    <option value="Platinum">Platinum</option>
                                    <option value="Gold">Gold</option>
                                    <option value="Silver">Silver</option>
                                    <option value="Bronze">Bronze</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Notification Type&nbsp;:</label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <select name="location" class='form-control'>
                                    <option value="" selected>--Select Notification Type--</option>
                                    <option value="Push notification">Push notification</option>
                                    <option value="Text ">Text </option>
                                    <option value="On screen announcement">On screen announcement</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="col-md-3 control-label">Permissions&nbsp;:</label>
                        <div class="col-md-7 no-padding">
                            <label class="radio-inline" style="margin-left:0px;" (click)="permissionModalToggle(1)"><a>Click
                                    Here</a></label>
                        </div>
                    </div> -->
                </form>


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-default" (click)="addUserModalToggle(2)">Close</button>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <b>Delete Record</b> <i (click)="deleteModalToggle(2)" class="fa fa-times pull-right" style="font-size:17px;"></i>
                </h4>
            </div>
            <div class="modal-body col-md-12">

                <div class="col-sm-12">
                    <label>Are You Sure ? You want to delete record, this action can't be undone.</label>
                </div>


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger"><i class="fa fa-check"></i>&nbsp;Delete</button>
                <button type="button" class="btn btn-default" (click)="deleteModalToggle(2)"><i class="fa fa-times"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #permissionModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
    <div class="modal-dialog modal-custom">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <b>Permissions</b> <i (click)="permissionModalToggle(2)" class="fa fa-times pull-right" style="font-size:17px;"></i>
                </h4>
            </div>
            <div class="modal-body row">
                <div class="col-sm-12">
                    <table class="table table-hover table-bordered table-scrollable-borderless col-sm-6 table-striped margin-top"
                        id="table1">
                        <thead>

                            <tr>
                                <th>
                                    Select
                                </th>
                                <th>
                                    Permission
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <mat-checkbox [checked]= "true"></mat-checkbox>
                                </td>
                                <td class="textleft">View Dashboard</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox [checked]= "true"></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Users</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Events</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Items</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Messages</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Posts</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Badges</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Assign Permissions</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" (click)="permissionModalToggle(2)" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;Update</button>
                <button type="button" class="btn btn-default" (click)="permissionModalToggle(2)"><i class="fa fa-arrow-left"></i>&nbsp;Go
                    Back</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" bsModal #permissionModal1="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
        <div class="modal-dialog modal-custom">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <b>Permissions</b> <i (click)="permissionModal1Toggle(2)" class="fa fa-times pull-right" style="font-size:17px;"></i>
                    </h4>
                </div>
                <div class="modal-body row">
                    <div class="col-sm-12">
                        <table class="table table-hover table-bordered table-scrollable-borderless col-sm-6 table-striped margin-top"
                            id="table1">
                            <thead>
    
                                <tr>
                                    <th>
                                        Select
                                    </th>
                                    <th>
                                        Permission
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>
                                            <mat-checkbox [checked]= "true"></mat-checkbox>
                                        </td>
                                        <td class="textleft">View Dashboard</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <mat-checkbox [checked]= "true"></mat-checkbox>
                                        </td>
                                        <td class="textleft">Manage Users</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <mat-checkbox></mat-checkbox>
                                        </td>
                                        <td class="textleft">Manage Events</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <mat-checkbox></mat-checkbox>
                                        </td>
                                        <td class="textleft">Manage Items</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <mat-checkbox></mat-checkbox>
                                        </td>
                                        <td class="textleft">Manage Messages</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <mat-checkbox></mat-checkbox>
                                        </td>
                                        <td class="textleft">Manage Posts</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <mat-checkbox></mat-checkbox>
                                        </td>
                                        <td class="textleft">Manage Badges</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <mat-checkbox></mat-checkbox>
                                        </td>
                                        <td class="textleft">Assign Permissions</td>
                                    </tr>
                                </tbody>
                        </table>
                    </div>
    
                </div>
                <div class="modal-footer">
                    <button type="submit" (click)="permissionModal1Toggle(2)" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;Update</button>
                    <button type="button" class="btn btn-default" (click)="permissionModal1Toggle(2)"><i class="fa fa-times"></i>&nbsp;Close
                        </button>
                </div>
            </div>
        </div>
    </div>



<!-- For Entities List Modal Popup -->
<div class="modal fade" bsModal #entitiesModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
  
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title titlemodal">
                    <b>Assign Entity</b> <i (click)="assignEntityToggle(2)" class="fa fa-times pull-right titlemodal"></i>
                </h4>
            </div>
            <div class="modal-body modalbody col-sm-12">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Division&nbsp;:</label>
                            <div class="col-md-8">
                                <mat-select placeholder="Division" class="col-sm-10 form-control marginbtn" multiple>
                                    <mat-option> Project  </mat-option>
                                    <mat-option> Product  </mat-option>
                                </mat-select>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> Location&nbsp;:</label>
                            <div class="col-md-8">
                                <mat-select placeholder="Location" class="col-sm-10 form-control marginbtn" multiple>
                                    <mat-option> India  </mat-option>
                                    <mat-option> Australia </mat-option>
                                    <mat-option> Canada  </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Entity&nbsp;:</label>
                            <div class="col-md-8">
                                <mat-select placeholder="Entity" class="col-sm-10 form-control marginbtn" multiple>
                                    <mat-option> Option Matrix  </mat-option>
                                    <mat-option> Option M  </mat-option>
                                    <mat-option> Option Zero  </mat-option>
                                </mat-select>
                            </div>
                        </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" (click)="assignEntityToggle(2)"><i class="fa fa-check"></i>&nbsp;Save</button>
        
            <button type="button" class="btn btn-default" (click)="assignEntityToggle(2)"><i class="fa fa-times"></i>&nbsp;Close
            </button>
            <button type="button" (click)="assignEntityToggle(2)" class="btn btn-danger"><i class="fa fa-times"></i>&nbsp;Unassign Entities</button>
        </div>
        </div>
    </div>
</div>

