<!--This page is used to manage lookups-->
<div fxLayout="row wrap" #resizedDiv>
  <div class="flex-p w-100">

        <div class="row" style="margin-bottom:14px;">
            <div class="col-md-6 col-sm-12"> 
            </div>
            <div class="col-md-6 col-sm-12 pull-right">
                <div id="Quality_table1_filter" class="dataTables_filter pull-right"><label style="display:inline-block; font-weight: 400">Search:&nbsp;</label>
                    <input type="search" class="form-control input-small input-inline" placeholder="" aria-controls="Quality_table1" (keyup)="filterUsers($event.target.value)"></div>
            </div>
        </div>

      <!-- <div class="row" style="margin-bottom:14px;">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="w-100 flex-p">
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="w-100 flex-p">
                  <button mat-raised-button class="add-hover pull-right" style="background-color: #3071a9;color: white;" (click)="updateLookupDialog(null)"><mat-icon>add</mat-icon>&nbsp;Add
                      Lookup</button>
              </div>
          </div>
      </div> -->


      <div class="table-responsive">
          <table id="example2" class="table table-bordered table-hover table-striped">
              <thead class="tbl-head">
                  <tr class="tr-grid-header">
                      <th class="alnleft">Member Name</th>
                      <th class="alnleft">Email ID</th>
                      <th class="alnleft">Location</th>
                      <th class="alnleft">Member Type</th>
                      <th class="alnleft">Badge</th>
                      <th>Status</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngIf="showEmpty"><td colspan="7">No records found</td></tr>
                <tr *ngFor="let item of tableList">
                    <td class="alnleft">{{item.user_name}}</td>
                    <td class="alnleft">{{item.email}}</td>
                    <td class="alnleft">{{item.tbl_user_profile ? item.tbl_user_profile.location : '-'}}</td>
                    <td class="alnleft">{{item.member_type ? item.member_type : '-'}}</td>
                    <td class="alnleft">{{item.tbl_user_profile ? item.tbl_user_profile.tbl_badge.badge_name : '-'}}</td>
                    <!-- <td *ngIf="!canUpdate || item.lookup_id <= 4" [ngClass]="item.is_active ? '' : 'status Red'">{{item.is_active?'Active':'Inactive'}}</td> -->
                    <td>
                        <a 
                        [ngClass]="item.is_active ? 'status' : 'status Red'"
                        mwlConfirmationPopover
                        [popoverTitle]="popoverStatusTitle"
                        [popoverMessage]="popoverStatusMessage"
                        placement="left"
                        (confirm)="updateUserStatus(item.user_id, !item.is_active, 'status');"
                        (cancel)="cancelClicked = true">
                        {{item.is_active?'Active':'Inactive'}}
                        </a>
                    </td>
                    <td>
                        <!-- <a (click)="updateUserDialog(item)" style="margin-right: 10px; cursor: pointer;">
                            <i title="Edit Lookup" class="fa fa-edit"></i>
                        </a> -->
                        
                        <!-- <i *ngIf="item.lookup_id <= 4" title="Edit Lookup" class="fa fa-edit fa-disabled" style="margin-right: 10px;"></i> -->

                        <!-- <i *ngIf="item.lookup_id <= 4" title="Delete Lookup" class="fa fa-trash red fa-disabled"></i> -->
                        
                        <a mwlConfirmationPopover
                        [popoverTitle]="popoverTitle"
                        [popoverMessage]="popoverMessage"
                        placement="left"
                        (confirm)="updateUserStatus(item.user_id, !item.is_deleted, 'delete')"
                        (cancel)="cancelClicked = true">
                            <i style="cursor: pointer;" title="Delete User" class="fa fa-trash red"></i>
                        </a>
                    </td>
                </tr> 
              </tbody>
          </table>
          <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="handlePage($event)" showFirstLastButtons></mat-paginator>
      </div>
  </div>

</div>
